<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fall Detection Labeling</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Fall Detection Labeling</h1>
    <div id="videoName">Video: </div>
    <video id="videoPlayer" controls>
        <source src="" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="button-container">
        <button class="button" onclick="labelVideo('soft')">Soft Fall</button>
        <button class="button" onclick="labelVideo('hard')">Hard Fall</button>
        <button class="button" onclick="previousVideo()">Previous</button>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
